@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --footer-background: #ffffff;
  --footer-foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --footer-background: #282828fa;
    --footer-foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: var(--footer-foreground);
  background: var(--footer-background);
  font-family: Arial, Helvetica, sans-serif;
}
