@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1c1c1c;
  --footer-background: #ffffff;
  --footer-foreground: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c1c;
    --foreground: #a0a0a0;
    --footer-background: #282828;
    --footer-foreground: #a0a0a0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  color: var(--footer-foreground);
  background: var(--footer-background);
  font-family: Arial, Helvetica, sans-serif;
}
